.container{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(4,1fr) ;

    grid-gap: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    
    width: 1000px;
    margin: 30px auto;
     
}
.containerover{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,1fr) ;

    grid-gap: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    
    width: 1000px;
    margin: 30px auto;
}
.faceover{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
     
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
}
.faceover:hover{
    background-color: grey;
}
.faceover2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
}
.faceover2:hover{
    background-color: grey;
}
.insover{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4; 
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
}
.insover:hover{
    background-color: grey;
}
.insover2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
}
.insover2:hover{
background-color: grey;
}
.twittover{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
     
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
}
.twittover:hover{
    background-color: grey;
}
.twittover2{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
     
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5); 
}
.twittover2:hover{
    background-color: grey;
}
.youover{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
     
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5); 
}
.youover:hover{
    background-color: gray;
}
.youover2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
     
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5); 
}
.youover2:hover{
    background-color: gray;
}
.face{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border: 5px solid white;
    border-style: solid;
    border-top-color:blue;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
  
    
}
.face:hover{
    background-color: grey;
}
.ins{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 5px solid white;
    border-style: solid;
    border-top-color:  rebeccapurple;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
}
.ins:hover{
    background-color: grey;
}
.twitt{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 5px solid white;
    border-style: solid;
    border-top-color:blue;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
}
.twitt:hover{
    background-color: grey;
}
.you{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    border: 5px solid white;
    border-style: solid;
    border-top-color:red;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
    
}
.you:hover{
    background-color: grey;
}
.green{
    color: green;
   
}
.red{
    color: red ;
    text-align: center;
}
.faceb{
    height: 40px;
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.facebover{
    margin-top: 40px;
    height: 50px;
    float: right;
    margin-top: -110px;
     
}
.facebover1{
    margin-top: 40px;
    height: 50px;
    float: right;
    margin-top: -90px;
}
.greenover{
     color: green;
    margin-top: -30px;
    float: right;
}
.redover{
    color: red;
    margin-top: -30px;
    float: right;
}
.greenover1{
    font-size: 30px;
    color: green;
    margin-top: -30px;
    float: right;
}
.textoover{
     margin-bottom: -10px;
     font-size: 40px;
}
.lugarover{
    font-size: 30px;
    margin-left: -10px;
}
.texto{
    text-align: center;
}
.texto1{
    text-align: center;
}
.lugar{
  
    text-align: right;
    margin-top: -30px;
    margin-right: 20px;
}
.lugar1{
   
    text-align: right;
    margin-top: -30px;
    margin-right: 20px;
}
.lugar2{
     
    text-align: right;
    margin-top: -30px;
    margin-right: 20px;
}
 
 
footer  .col-lg-12{
    background-color: rgb(4, 13, 95);
    padding: 80px;
      
}
.social-media{
    padding: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;  
     
}
footer{
    color:white;
     
}
.social-media a:hover{
    color:  white;
}
.ligacao{
  font-size: 25px;
  
}
.ligacao a:hover{
  color: white;
}
 
 
.fundo {
    border: 5px outset transparent;
    background-color: white; 
    width: 20%;
    font:  arial;
  }
p{
  
    margin-left: 20px;
}
.formato{
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: -80px;
    width: 100%;
    
    
}
.cor{
   
    font-size: 20px;
    margin-left: 150px;
  
}
.coi{
    
    margin-left: 150px;
}
.meio{
    margin-top: 40px;
    margin-right: 200px;
    float: right;
}
body {
    background-color: white;
    color: black;
    
} 
.dark-mode {
    background-color: rgb(34,36,49);
    color: white;
  
}

@media only screen and (max-width: 800px){
    .container,.containerover{
         
        display: block;
       
    }
    .face,.ins,.twitt,.you,.faceover,.insover,.faceover2,.insover2{
         
         margin-bottom: 15px;
    }

    
}